PORT=3010

CRM_DB_HOST=
CRM_DB_PORT=3306
CRM_DB_USER=
CRM_DB_PASSWORD=
CRM_DB_NAME=main_management

PRESTASHOP_DB_HOST=
PRESTASHOP_DB_PORT=3306
PRESTASHOP_DB_USER=
PRESTASHOP_DB_PASSWORD=
PRESTASHOP_DB_NAME=pesas_productiva
PRESTASHOP_DB_PREFIX=ps_
